
@import 'fonts.css';
/*
 * hed, dek, notes, and source
 */
.ai2html-figure {
    margin-bottom: 2rem;
}

.ai2html-figure header span {
    display: block;
}

.ai2html-figure header h1 {
    font-weight: 900;
    font-size: 1.32rem;
    font-size: clamp(1.1rem, 3.06vw, 1.32rem);
    margin-bottom: 0.25em;
    line-height: 1.1;
}
.ai2html-figure .figure-label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    font-size: clamp(13px, 3.2vw, 1rem);
}
.ai2html-subhead {
    font-size: 1rem;
    font-size: clamp(13px, 3.2vw, 1rem);
    font-weight: bold;
    margin-top: 9px;
    margin-bottom: 9px;

}
.ai2html-figure .figure-dek {
    opacity: .9;
    font-weight: 600;
    font-size: 1.13rem;
    font-size: clamp(1rem, 2.636vw, 1.13rem);
    white-space: normal !important;
    line-height: 1.2;
}
.figure-note,
.rich-text .figure-note {
    font-size: 0.8rem;
    font-size: clamp(10px, 3.17vw, 0.8rem);
    line-height: 1.1;
    margin-top: 9px;
    margin-bottom: 9px;
}

.figure-note--source {
    color: #767676;
}
@media screen and (max-width: 416px) {
    .figure-note,
    .rich-text .figure-note  {
        font-size: 10px;
        font-size: clamp(10px, 3vw, 0.8rem);
    } 
    .ai2html-figure .figure-dek {
        font-size: 0.85rem;
        font-size: clamp(1rem, 2.636vw, 1.13rem);
    }
    .ai2html-figure .figure-label, .ai2html-subhead {
        font-size: 13px;
        font-size: clamp(13px, 3.2vw, 1rem);
    }
    .ai2html-figure header h1 {
        font-size: 1rem;
        font-size: clamp(1.1rem, 3.06vw, 1.32rem);
    }
}
/*.g-dark-shadow {
    text-shadow: 1px 1px rgba(0,0,0,0.3), -1px 1px rgba(0,0,0,0.3), -1px -1px rgba(0,0,0,0.3), 1px -1px rgba(0,0,0,0.3);
}*/
/* 
 * variable text sizes, etc
 */
.ai2html:not(.preserve-print-text-sizes) .g-artboard, .ai2html.preserve-print-text-sizes .g-artboard:not(.print){

     p {
       font-size: clamp(10px, 3vw, 12.5px) !important;
       line-height: 1.188em !important;
   }
   
   @media screen and (max-width: 416px) {
        p {
           font-size: 10px !important;
           font-size: clamp(10px, 3vw, 12.5px) !important;
           line-height: 1.188em !important;
       }
   }
}
.g-artboard {
    display: none;
}
/* 
 * 70 percent columns only, 650px max
 */
 .container__col--70 {
     .ai2html-figure:not(.full-width) {
         max-width: 650px;
     }
}
 
/*
      * has mobile and print artboards
      */
    .has-print.has-mobile {
        .g-artboard.mobile {
            display: block;
        }
        @media screen and (min-width: 686px) {
            .g-artboard.mobile {
                display: none;
            }
            .g-artboard.print {
                display: block;
            }
        }
    }
    .has-print:not(.has-mobile) {
        .g-artboard.print {
            display: block;
        }
    }
    .has-mobile:not(.has-print) {
        .g-artboard.mobile {
            display: block;
        }
    }
 //}
/*
 * 100 percent columns only , 990px max
 */
.container--100 {
    .ai2html:not(.has-full):not(.has-medium) {
            max-width: 650px;
    }
    .has-medium {
        .g-artboard.print {
            display: none;
        }
        @media screen and (min-width: 686px) {
            .g-artboard.mobile {
                display: none;
            }
            .g-artboard.medium {
                display: block;
            }
        }
        &.has-full {
            @media screen and (min-width: 991px) {
                .g-artboard.medium {
                    display: none;
                }
                .g-artboard.full {
                    display: block;
                }
            }
        }
    }
    .has-full:not(.has-medium){
        .g-artboard.print {
            display: none;
        }
        @media screen and (min-width: 686px) {
            .g-artboard.mobile {
                display: none;
            }
            .g-artboard.full {
                display: block;
            }
        }
    }
    
}