.ai2html:not(.preserve-print-text-sizes) .g-artboard, .ai2html.preserve-print-text-sizes .g-artboard:not(.print){

     p {
       font-size: clamp(10px, 3vw, 12.5px) !important;
       line-height: 1.188em !important;
   }
   
   @media screen and (max-width: 416px) {
        p {
           font-size: 10px !important;
           font-size: clamp(10px, 3vw, 12.5px) !important;
           line-height: 1.188em !important;
       }
   }
}
.g-artboard {
    display: none;
    margin: 0 !important;
}
.g-artboard.print, .g-artboard.mobile {
    max-width: 650px;
}
/* 
 * 70 percent columns only, 650px max
 */
/* .container__col--70 {
     .ai2html-figure:not(.full-width) {
         max-width: 650px;
     }
}*/
 
    /*
     * has mobile and print artboards
     */
    .has-print.has-mobile {
        .g-artboard.mobile {
            display: block;
        }
        @media screen and (min-width: 686px) {
            .g-artboard.mobile {
                display: none;
            }
            .g-artboard.print {
                display: block;
            }
        }
    }
    /*
     * print but no mobile
     */
    .has-print:not(.has-mobile) {
        .g-artboard.print {
            display: block;
        }
    }
    /* 
     * mobile but no print  
     */
    .has-mobile:not(.has-print) {
        .g-artboard.mobile {
            display: block;
        }
    }
 //}
/*
 * 100 percent columns only , 990px max
 */
.container--100 {
    .ai2html:not(.has-full):not(.has-medium) {
            max-width: 650px;
    }
    .has-medium {
        @media screen and (min-width: 686px) {
            .g-artboard.print {
                display: none;
            }
            .g-artboard.mobile {
                display: none;
            }
            .g-artboard.medium {
                display: block;
            }
        }
        &.has-full {
            @media screen and (min-width: 991px) {
                .g-artboard.medium {
                    display: none;
                }
                .g-artboard.full {
                    display: block;
                }
            }
        }
    }
    .has-full:not(.has-medium){
        @media screen and (min-width: 991px) {
            .g-artboard.print {
                display: none;
            }
            .g-artboard.mobile {
                display: none;
            }
            .g-artboard.full {
                display: block;
            }
        }
    }
    
}