<div id="pew-app" class="pct-section no-js">
    <!--<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=Symbol%2CSet%2CArray.from%2CNodeList.prototype.forEach%2CArray.prototype.find"></script>-->
<% for (var css in htmlWebpackPlugin.files.css) { %>
    <link class="emitted-css" href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
<% } %>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aliquam iusto dolor totam, libero necessitatibus magni nihil rem ipsam aut, reiciendis culpa obcaecati? Exercitationem a iure veritatis cupiditate dicta recusandae.</p>
    <div id="render-here"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aliquam iusto dolor totam, libero necessitatibus magni nihil rem ipsam aut, reiciendis culpa obcaecati? Exercitationem a iure veritatis cupiditate dicta recusandae.</p>
    <section class="image-block js-image-modal-source">
        <figure class="image-block__media">
        <picture>
                <source srcset="https://www.pewtrusts.org/-/media/data-visualizations/infographics/2020/12/probation/shorten_probation_and_public_safety_report_650px_figure6.png?mw=1290&amp;hash=666101C3EC84236708AB6B434ADEF552 1x, https://www.pewtrusts.org/-/media/data-visualizations/infographics/2020/12/probation/shorten_probation_and_public_safety_report_650px_figure6.png?mw=2580&amp;hash=37C9726D18135AB6FE95801EEDC9A15B 2x" media="(min-width: 56.9375em )">
                <source srcset="https://www.pewtrusts.org/-/media/data-visualizations/infographics/2020/12/probation/shorten_probation_and_public_safety_report_650px_figure6.png?mw=910&amp;hash=AD4A75EFCD25E04B83D50C20248DAD8E 1x, https://www.pewtrusts.org/-/media/data-visualizations/infographics/2020/12/probation/shorten_probation_and_public_safety_report_650px_figure6.png?mw=1820&amp;hash=715AEC63A3E41C888091FEB13607F018 2x" media="(min-width: 29.4375em )">
                <source srcset="https://www.pewtrusts.org/-/media/data-visualizations/infographics/2020/12/probation/shorten_probation_and_public_safety_report_650px_figure6.png?mw=470&amp;hash=7A6D935E14D6AB8688425F647E30A285 1x, https://www.pewtrusts.org/-/media/data-visualizations/infographics/2020/12/probation/shorten_probation_and_public_safety_report_650px_figure6.png?mw=940&amp;hash=4448B1A20070B861DC18D76B06A47AB3 2x" media="(max-width: 29.375em )">
            <img src="https://www.pewtrusts.org/-/media/data-visualizations/infographics/2020/12/probation/shorten_probation_and_public_safety_report_650px_figure6.png?h=901&amp;w=650&amp;la=en&amp;hash=52961A2479678D8ECB682F238B7ADDC4" class="js-modal-trigger" alt="">
        </picture>

</figure>
</section>
</div>
<div class="clearfix"></div>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script class="emitted-bundle" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>